:root {
    /* iris */
    --pri-brand: #4d5ae5;
    /* ocean */
    --press-state: #404bbf;
    /* navy-blue */
    --dark: #2e2f42;
    /* green */
    --success: #31d0aa;
    /* slate */
    --main-text: #434455;
    /* light-slate */
    --subtle-text: #8e8f99;
    /* cornflower */
    --accent: #e7e9fc;
    /* cloud */
    --light: #f4f4fd;
    /* navy-blue-modal */
    --modal-overlay: rgba(46, 47, 66, 0.4);
    /* grey */
    --hero-bg: rgba(46, 47, 66, 0.7);
    /* white */
    --white-bg: #ffffff;
    /* dairy */
    --modal-bg: #fcfcfc;
    /* transition duration + timing-function */
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
}

.base-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.navi {
    color: var(--dark);
}

.whitecol {
    color: #ffffff;
}

.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}
.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--white-bg);
    background: var(--pri-brand);
    border-radius: 4px;
}

/* ======= HEADER ======= */
.header{
    position: relative;
    border-bottom: 1px solid var(--accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--pri-brand);
}

.menu-btn{
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
}
.menu-btn .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 22px;
    transform: translate(-50%, -50%);
}

.close-btn .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--press-state);
    border-color: var(--press-state);
    fill: #FFFFFF;
}

.page-nav .list{
    display: flex;
    gap: 40px;
}
.page-nav .link {
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    transition: color var(--cubic);
}

.address{
    display: flex;
    gap: 40px;
}

.address .link{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-style: normal;
    letter-spacing: 0.02em;
    white-space: nowrap;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ======= /HEADER ======= */

/* ======= HERO ======= */
.hero {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark);
    background-image:
        linear-gradient(var(--hero-bg), var(--hero-bg)),
        url(../images/hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
}

.hero-title {
    margin: 0 auto 72px;
    max-width: 320px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--white-bg);
    text-transform: capitalize;
}
.order-btn {
    padding: 16px 32px;
    border: none;
    transition: background-color var(--cubic);
}

.order-btn:hover,
.order-btn:focus {
    background-color: var(--press-state);
}

/* ======= /HERO ======= */

/* ======= PRINCIPLE ======= */
.principle .title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark);
}
.principle .list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
/* ======= /PRINCIPLE ======= */


/* ======= TEAM ======= */
.teams {
    background-color: var(--light);
}

.teams h2.title,
.customers .title,
.activities .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}
.team.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    text-align: center;
}
.team> .item{
    max-width: 264px;
    padding-bottom: 32px;
    background: var(--white-bg);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team .item img {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}
.team.list .title,
.project-list h2{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}
.team .base-text {
    margin-bottom: 8px;
}
.sociales {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.sociales .link {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: var(--pri-brand);
    border: none;
    border-radius: 50%;
    fill: var(--light);
    transition: background-color var(--cubic);
}

.sociales .link:hover,
.sociales .link:focus {
    background-color: var(--press-state);
}

.sociales .icon {
    width: 16px;
    height: 16px;
}

/* ======= /TEAM ======= */

/* ======= CUSTOMERS ======= */
.customers .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
}

.customers .icon {
    width: 104px;
    height: 56px;
}


.customers .link {
    display: inline-block;
    padding: 16px 40px;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    fill: var(--subtle-text);
    transition: fill var(--cubic),
        border-color var(--cubic);
}

.customers .link:hover,
.customers .link:focus {
    fill: var(--press-state);
    border-color: var(--press-state);
}

/* ======= FOOTER ======= */
.footer {
    background-color: var(--dark);
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.footer .slogan {
    max-width: 268px;
}

.footer .logo {
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.cloud {
    color: var(--light);
}

.footer-label {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-bg);
}

.footer .sociales {
    gap: 16px;
}

.footer .sociales .icon {
    width: 24px;
    height: 24px;
}

.footer .sociales .link {
    padding: 8px;
    /* background-color: var(--pri-brand); */
    transition: background-color var(--cubic);
}

.footer .sociales .link:hover,
.footer .sociales .link:focus {
    background-color: var(--success);
}

.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.subscribe .label {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.input {
    padding: 7px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white-bg);
    opacity: 0.3;
    background-color: transparent;
    border: 1px solid var(--white-bg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.subscribe .input::placeholder{
    color: var(--white-bg);
    opacity: 0.6;
}

.subscribe .input:-webkit-autofill,
.subscribe .input:-webkit-autofill:hover, 
.subscribe .input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 40rem var(--dark) inset;
}

.send-btn {
    position: relative;
    padding: 8px 64px 8px 24px;
    color: var(--white-bg);
    background: var(--pri-brand);
    border: none;
    transition: background-color var(--cubic);
}

.send-btn:hover,
.send-btn:focus {
    background-color: var(--press-state);
}

.send-btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-image: url(../images/sprite.svg#send);
    background-size: 32px;
}

/* ----=  Modal =---- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    opacity: 1;
    visibility: visible;
    background-color: var(--modal-overlay);
    transition: opacity 250ms ease;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.no-scroll {
  overflow: hidden;
}

.modal {
    padding: 72px 24px 24px;
    background-color: var(--modal-bg);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--cubic),
        visibility var(--cubic);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #000000;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color var(--cubic);
    transition: border-color var(--cubic);
}

.close-btn .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--press-state);
    border-color: var(--press-state);
    fill: #FFFFFF;
}

.modal .title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.order .form-label {
    position: relative;
    display: block;
    padding-top: 18px;
    margin-bottom: 8px;
}

.order-icon {
    position: absolute;
    bottom: calc((100% - 18px) / 2);
    left: 16px;
    width: 18px;
    height: 24px;
    transform: translateY(50%);
}

.order-label {
    position: absolute;
    display: inline-block;
    bottom: calc((100% - 18px) / 2);
    left: 38px;
    width: 18px;
    height: 24px;
    transform: translateY(50%);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    transition: transform var(--cubic);
}

.order .input {
    width: 100%;
    padding-left: 38px;
    color: #000000;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.order .input:focus {
    outline: none;
    border-color: var(--pri-brand);
}

.order .input:focus+.order-label {
    transform: translate(-38px, -20px);
    color: var(--pri-brand);
}

.order .input:focus~.order-icon {
    fill: var(--pri-brand);
}

.order .input:not(:placeholder-shown)+.order-label {
    transform: translate(-38px, -20px);
}

.order .input:-webkit-autofill,
.order .input:-webkit-autofill:hover, 
.order .input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 40rem var(--modal-bg) inset;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
}

.comment .label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--subtle-text);
}

.comment .textarea {
    resize: none;
    padding: 7px 15px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid var(--modal-overlay);
    border-radius: 4px;
}

.comment .textarea::placeholder {
    color: var(--modal-overlay);
}

.checkbox{
    display: flex;
    margin-bottom: 24px;
}
.checkbox .label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    white-space: pre-wrap;
    white-space: pre;
    color: var(--subtle-text);
}

.galka{
    margin-right: 8px;
    display: block;
    width: 16px;
    height: 16px;
    fill: transparent;
    background-color: transparent;
    border: 1px solid var(--modal-overlay);
    border-radius: 2px;
    transition: background-color var(--cubic);
}
.galka .icon{
    display: inline-block;
    width: 16px;
    height: 16px;
}

.checkbox .check:checked + .galka{
    background-color: var(--press-state);
    border: none;
    fill: var(--light);
}
.checkbox .check:focus + .galka{
    outline: 2px solid var(--pri-brand);
}

.checkbox a{
    text-decoration-line: underline;
    color: var(--pri-brand);

}
.submit-btn {
    padding: 16px 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-bg);
    background: var(--pri-brand);
    border: none;
    transition: background-color var(--cubic);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--press-state);
}


/* ----=  Portfolio =---- */
.projects {
    padding-top: 48px;
    padding-bottom: 48px;
}
.projects .filter {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 16px 24px;
}
.radio-btn {
    padding: 8px 16px;
    color: var(--pri-brand);
    background-color: var(--light);
    border: 1px solid var(--accent);
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-btn:hover,
.radio-btn:focus {
    color: var(--white-bg);
    background-color: var(--press-state);
    border-color: var(--press-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 48px;
}
.project img {
    max-width: 396px;
}
.project .descr {
    padding: 32px 16px;
    border: 1px solid var(--accent);
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.project .link {
    display: inline-block;
    transition: box-shadow var(--cubic);
}
.project .link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-list h2{
    text-align: left;
}


 /* -=== hidden on mobile & tablet ===-  */
 @media screen and (max-width: 1158px) {
    /* ======= ACTIVITIES ======= */
    .activities, .slide-text{
        display: none;
    }
 }

  /* === Mobile CSS ===  */
@media screen and (max-width: 767px) {
    /* ======= HEADER ======= */
    .header .container {
        padding-top: 24px;
        padding-bottom: 22px;
        justify-content: space-between;
    }
    .menu {
        display: none;
    }
    .menu.is-open {
        display: flex;
        flex-direction: column;
        background-color: var(--light);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 80px 40px 40px;
        justify-content: space-between;
    }
    
    .page-nav .list{
        flex-direction: column;
    }
    .page-nav .link{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }
    .page-nav .item:last-child .link{
        color: var(--press-state);
    }
    .address{
        margin-bottom: 48px;
        flex-direction: column-reverse;
    }
    .address .link{
        color: inherit;
    }
    .address .item:first-child{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--main-text);
        fill: var(--main-text);
    }
    .address .item:last-child{
        font-weight: 700;
        font-size: calc(21px + (36 - 21) * ((100vw - 320px) / (480 - 320)));
        line-height: 1.11;
        color: var(--pri-brand);
        fill: var(--pri-brand);    
    }
    
    .address .icon {
        width: 18px;
        height: 18px;
    }
    .contacts .sociales{
        justify-content: flex-start;
    }
    .contacts .sociales .link{
        padding: 8px;
    }
    .contacts .sociales .icon{
        width: 24px;
        height: 24px;
    }
    
    .modal {
        position: relative;
        max-width: 392px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media screen and ((max-width: 767px) and (min-device-pixel-ratio: 2)),
((max-width: 767px) and (min-resolution: 192dpi)),
((max-width: 767px) and (min-resolution: 2dppx)) {
    .hero {
        background-image:
            linear-gradient(var(--hero-bg), var(--hero-bg)),
            url(../images/hero-mob@2x.jpg);
    }
  }

/* -=== Specific mobile CSS ===- */
@media screen and (min-width: 480px) and (max-width: 767px) {
    .address .item:last-child{
        font-size: 36px;
    }
}
@media screen and (max-width: 319px) {
    .address .item:last-child{
        font-size: 21px;
    }
}

@media screen and (min-height: 580px){
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 408px;
        height: 576px;
        transform: translate(-50%, -50%) scale(1);
    }
    .backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scale(1.5);
    }
}

 /* -===*** Tablet CSS ***===-  */
 @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
     }

     /* ======= HEADER ======= */
     .menu-btn, .menu .close-btn, .contacts .sociales{
        display: none;
    }

    .menu {
        flex-grow: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 120px;
    }
    .page-nav .link {
        display: block;
        padding: 24px 0;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--dark);
        transition: color var(--cubic);
    }
    
    .page-nav .link.current-page::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: var(--press-state);
    }
    .menu .link.current-page{
        color: var(--press-state);
    }

     .header .container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .address{
        margin-left: auto;
        flex-direction: column;
        gap: 12px;
    }
    
    .address .link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--main-text);
        fill: var(--main-text);
    }
    
    .address .icon {
        width: 16px;
        height: 16px;
    }
    
    .menu .link:hover,
    .menu .link:focus {
        color: var(--press-state);
        fill: var(--press-state);
    }

    /* ======= HERO ======= */
    .hero {
        max-width: 768px;
        background-image:
            linear-gradient(var(--hero-bg), var(--hero-bg)),
            url(../images/hero-tab.jpg);
    }
    .hero-title {
        margin-bottom: 36px;
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    /* ======= PRINCIPLE ======= */    
    .principle .list {
        flex-direction: row;
        flex-wrap: wrap;
        /* align-items: center; */
        gap: 72px 24px;
    }
    .principle .item{
        width: calc((100% - 24px) / 2);
    }

    /* ======= TEAM ======= */
    .team.list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
    }

    /* ======= CUSTOMERS ======= */
    .customers .list {
        gap: 72px 24px;
    }
    .customers .link {
        padding: 16px 32px;
    }

    /* ======= FOOTER ======= */
    .footer .container {
        padding-left: 108px;
        padding-right: 108px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 72px 24px;
    }
    .footer .logo {
        text-align: left;
    }
    .footer .slogan {
        max-width: 264px;
    }
    .footer-label {
        text-align: left;
    }
    .subscribe {
        align-items: flex-end;
        flex-direction: row;
        gap: 24px;
    }
    .subscribe .input{
        width: 264px;
    }

    /* ----=  Portfolio =---- */
    .projects {
        padding-top: 64px;
        padding-bottom: 96px;
    }

 }

 @media screen and ((min-width: 768px) and (min-device-pixel-ratio: 2)),
  ((min-width: 768px) and (min-resolution: 192dpi)),
  ((min-width: 768px) and (min-resolution: 2dppx)) {    
    .hero {
        max-width: 768px;
        background-image:
            linear-gradient(var(--hero-bg), var(--hero-bg)),
            url(../images/hero-tab@2x.jpg);
    }
  }

/* -===*** Desktop CSS ***===-  */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
     }
     .section {
         padding-top: 120px;
         padding-bottom: 120px;
     }

     /* ======= HEADER ======= */
     .address{
        margin-left: auto;
        flex-direction: row;
        gap: 40px;
    }
    .address .link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* ======= HERO ======= */
    .hero {
        max-width: 1440px;
        background-image:
            linear-gradient(var(--hero-bg), var(--hero-bg)),
            url(../images/hero-dsk.jpg);
    }

    .hero-title{
        margin-bottom: 48px;
    }

    /* ======= PRINCIPLE ======= */
    .principle .title,
    .team.list .title,
    .project-list h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .principle .list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    .principle .item {
        width: calc((100% - 72px) / 4);
    }
    .principle .item::before {
        content: '';
        display: block;
        height: 112px;
        margin-bottom: 8px;
        background-color: var(--light);
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 64px;
    }
    
    .principle .item:nth-child(1):before {
        background-image: url(../images/sprite.svg#radar);
    }
    
    .principle .item:nth-child(2):before {
        background-image: url(../images/sprite.svg#clock);
    }
    
    .principle .item:nth-child(3):before {
        background-image: url(../images/sprite.svg#diagram);
    }
    
    .principle .item:nth-child(4):before {
        background-image: url(../images/sprite.svg#astronaut);
    }
    
    /* ======= /ACTIVITIES ======= */
    .activities {
        padding-bottom: 120px;
    }
        
    .activities .list {
        display: flex;
        gap: 24px;
    }
    
    .activities .item {
        width: calc((100% - 48px) / 3);
    }

    /* ======= TEAM ======= */
    .team.list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    /* ======= CUSTOMERS ======= */
    .customers .list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    
    /* ======= FOOTER ======= */
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer .container {
        padding-left: 0;
        padding-right: 0;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: unset;
    }
    .footer .social {
        margin-left: 120px;
    }
    .subscribe {
        width: auto;
        margin-left: auto;
    }

    /* ----=  Portfolio =---- */
    .projects {
        padding-top: 96px;
        padding-bottom: 120px;
    }
    
    .text-wrapper {
        position: relative;
        overflow: hidden;
    }
    .slide-text {
        position: absolute;
        left: 0;
        top: 100%;
        display: block;
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--light);
        background-color: var(--pri-brand);
        transition: transform var(--cubic);
    }
    .project .link:hover .slide-text {
        transform: translateY(-100%);
    }

}

@media screen and ((min-width: 1158px) and (min-device-pixel-ratio: 2)),
((min-width: 1158px) and (min-resolution: 192dpi)),
((min-width: 1158px) and (min-resolution: 2dppx)) {    
  .hero {
      background-image:
          linear-gradient(var(--hero-bg), var(--hero-bg)),
          url(../images/hero-dsk@2x.jpg);
  }
}

 