:root {
    /* iris */
    --pri-brand: #4d5ae5;
    /* ocean */
    --press-state: #404bbf;
    /* navy-blue */
    --dark: #2e2f42;
    /* green */
    --success: #31d0aa;
    /* slate */
    --main-text: #434455;
    /* light-slate */
    --subtle-text: #8e8f99;
    /* cornflower */
    --accent: #e7e9fc;
    /* cloud */
    --light: #f4f4fd;
    /* navy-blue-modal */
    --modal-overlay: rgba(46, 47, 66, 0.4);
    /* grey */
    --hero-bg: rgba(46, 47, 66, 0.7);
    /* white */
    --white-bg: #ffffff;
    /* dairy */
    --modal-bg: #fcfcfc;
    /* transition duration + timing-function */
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
}

.base-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.navi {
    color: var(--dark);
}

.whitecol {
    color: #ffffff;
}

.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}
.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--white-bg);
    background: var(--pri-brand);
    border-radius: 4px;
}

/* ======= HEADER ======= */
.header .container {
    padding-top: 24px;
    padding-bottom: 22px;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--pri-brand);
}

/* ======= /HEADER ======= */

/* ======= HERO ======= */
.hero {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark);
    background-image:
        linear-gradient(var(--hero-bg), var(--hero-bg)),
        url(../images/hero-m.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
}

.hero-title {
    margin: 0 auto 72px;
    max-width: 320px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--white-bg);
    text-transform: capitalize;
}
.order-btn {
    padding: 16px 32px;
    border: none;
    transition: background-color var(--cubic);
}
/* ======= /HERO ======= */

/* ======= PRINCIPLE ======= */

.principle .title,
.project-list h2 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark);
}
.principle .list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
/* ======= /PRINCIPLE ======= */

/* ======= ACTIVITIES ======= */
.activities{
    display: none;
}

/* ======= /ACTIVITIES ======= */

/* ======= TEAM ======= */
.team.section {
    background-color: var(--light);
}
.team .container{
    padding-left: 82px;
    padding-right: 82px;
}

.team h2.title,
.customers .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}
.team.list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
    text-align: center;

}
.team>.item{

    outline: 1px dotted green;
}
.sociales {
    width: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 24px;
    outline: 1px solid blue;
}
.sociales .link {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: var(--pri-brand);
    border: none;
    border-radius: 50%;
    fill: var(--light);
    transition: background-color var(--cubic);
}

/* ======= /TEAM ======= */

/* ======= CUSTOMERS ======= */

/* ======= FOOTER ======= */



/* ----=  Portfolio =---- */


/* ----=  Modal =---- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    background-color: var(--modal-overlay);
    transition: opacity 250ms ease;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 576px;
    padding: 72px 24px 4px;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--modal-bg);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--cubic),
        visibility var(--cubic);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #000000;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color var(--cubic);
    transition: border-color var(--cubic);
}

.close-btn .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
}

.close-btn:hover,
.close-btn:focus {
    background-color: var(--press-state);
    border-color: var(--press-state);
    fill: #FFFFFF;
}

.modal .title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.order .form-label {
    position: relative;
    display: block;
    padding-top: 18px;
    margin-bottom: 8px;
}

.order-icon {
    position: absolute;
    bottom: calc((100% - 18px) / 2);
    left: 16px;
    width: 18px;
    height: 24px;
    transform: translateY(50%);
}

.order-label {
    position: absolute;
    display: inline-block;
    bottom: calc((100% - 18px) / 2);
    left: 38px;
    width: 18px;
    height: 24px;
    transform: translateY(50%);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    transition: transform var(--cubic);
}

.order .input {
    width: 100%;
    padding-left: 38px;
    color: #000000;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.order .input:focus {
    outline: none;
    border-color: var(--pri-brand);
}

.order .input:focus+.order-label {
    transform: translate(-38px, -20px);
    color: var(--pri-brand);
}

.order .input:focus~.order-icon {
    fill: var(--pri-brand);
}

.order .input:not(:placeholder-shown)+.order-label {
    transform: translate(-38px, -20px);
}

.order .input:-webkit-autofill,
.order .input:-webkit-autofill:hover, 
.order .input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 40rem var(--modal-bg) inset;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
}

.comment .label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--subtle-text);
}

.comment .textarea {
    resize: none;
    padding: 7px 15px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid var(--modal-overlay);
    border-radius: 4px;
}

.comment .textarea::placeholder {
    color: var(--modal-overlay);
}

.checkbox{
    display: block;
    margin-bottom: 24px;
}
.checkbox .label{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    white-space: pre;
    color: var(--subtle-text);
}
.checkbox .label::before{
    margin-right: 8px;
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid var(--modal-overlay);
    border-radius: 2px;
    transition: background-color var(--cubic);
}
.checkbox .check:checked + .label::before{
    background-color: var(--press-state);
    border: none;
    background-image: url(../images/sprite.svg#checkbox);
    background-size: 32px;
}
.checkbox .check:focus + .label::before{
    outline: 2px solid var(--pri-brand);
}

.checkbox a{
    text-decoration-line: underline;
    color: var(--pri-brand);

}
.submit-btn {
    padding: 16px 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-bg);
    background: var(--pri-brand);
    border: none;
    transition: background-color var(--cubic);
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--press-state);
}
